/***** General css *****/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: #01d167;
}

.d-flex {
  display: flex;
}

.col-6 {
  flex: 1 1 50%;
}

.position-relative {
  position: relative;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-primary {
  color: var(--primary);
}

.text-grey {
  color: #22222233;
}

.text-dark {
  color: #222222;
}

.w-100 {
  width: 100%;
}

.wrapper-debit {
  margin: 0 auto;
  background-color: #fff;
  max-width: 100vw;
}

/***** Left side bar *****/
.left-side-bar {
  background-color: #0c365a;
  width: 340px;
  height: 770px;
  padding: 48px;
}

.left-side-bar .logo {
  display: flex;
  align-items: center;
}

.left-side-bar .logo-name {
  color: var(--primary);
  margin-left: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.6rem;
}

.left-side-bar .text {
  color: #fff;
  opacity: 30%;
  font-size: 15px;
  margin-top: 20px;
  max-width: 230px;
}

.left-side-bar .list {
  margin-top: 81px;
}

.left-side-bar .list li {
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 62px;
}

.left-side-bar .list li span {
  margin-left: 16px;
}

/***** Main content *****/
.main-content {
  padding: 60px;
}

.main-content h2 {
  font-size: 24px;
}

.main-content .card-container {
  width: 906px;
  height: 668px;
  box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.08);
  border: rgba(252, 252, 252, 1);
  border-radius: 8px;
  margin-top: 40px;
}

.card {
  padding: 40px 20px;
}

.card .col-6 {
  padding: 0 20px;
}

.money-icon {
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--primary);
  color: #fff;
  padding: 3px 12px;
  margin-right: 10px;
}

.money-container div {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1.5px;
}

.money-container {
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}

.money-container p {
  color: #23cefd;
  font-size: 14px;
  margin-right: 25px;
}

.img-top-up {
  margin-right: 12px;
}

h5 {
  font-size: 14px;
}

.debit-card-container {
  margin-top: 40px;
}

.debit-card {
  background-color: var(--primary);
  color: #fff;
  border-radius: 8px;
  width: 366px;
  padding: 24px 24px 48px 24px;
  z-index: 100;
}

.debit-card h4 {
  font-size: 22px;
  letter-spacing: 1px;
}

.debit-card .logo {
  justify-content: flex-end;
}

.img-eye {
  position: absolute;
  top: -8%;
  left: -15px;
  z-index: 101;
}

.debit-card .number-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.debit-card .number-container div {
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.debit-card .number-container span {
  font-size: 30px;
  line-height: 0;
  margin-right: 6px;
}

.debit-card .number-container .year {
  letter-spacing: 2px;
}

.img-logo {
  position: absolute;
  right: 15%;
  bottom: 10%;
  z-index: 101;
}

.debit-card .date-container {
  display: flex;
  margin-top: 19px;
  letter-spacing: 2px;
}

.debit-card .date-container .date {
  margin-right: 17px;
}

.debit-card-limit {
  margin-top: 40px;
}

.debit-card-limit div div {
  margin-right: 24px;
}

.progress-bar-container {
  margin-top: 12px;
}

.progress-bar {
  height: 18px;
  width: 366px;
  border-radius: 30px;
  background-color: rgba(1, 209, 103, 0.1);
  overflow: hidden;
}

.bar {
  height: 18px;
  width: 20%;
  border-radius: 20px 0 0px 35px;
  transform: skew(-15deg);
  background-color: rgb(1, 209, 103);
}

.debit-card-cashback {
  width: 366px;
  height: 133px;
  border: 1px solid #01d16726;
  border-radius: 12px;
  margin-top: 40px;
  background-color: #01d1670d;
  padding: 24px;
}

.debit-card-cashback h5 {
  letter-spacing: 0.26px;
}

.debit-card-cashback p {
  margin-top: 8px;
  font-size: 14px;
  letter-spacing: 0.4px;
}

.circle {
  margin-left: 16px;
  height: 60px;
  width: 120px;
  border-radius: 50%;
  border: 8px solid var(--primary);
  text-align: center;
  overflow: hidden;
  background-color: #01d1670d;
}

.circle .text {
  margin-top: 8px;
  z-index: 100;
}

.circle .text h6 {
  font-size: 16px;
}

.circle .text div {
  font-size: 8px;
}

.info-container {
  border-radius: 24px 24px 0 0;
  border: 1px solid transparent;
  background-color: #fff;
  padding-top: 115px;
}

.info .row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 25px;
}

.info .row:not(:last-child) {
  border-bottom: 1px solid rgb(228, 228, 228);
}

.info .row img {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.info .row h6 {
  font-size: 14px;
  color: #25345f;
}

.info .row span {
  color: #222222;
  opacity: 0.4;
  font-size: 13px;
}

.banner-header-img {
  display: none;
}

.banner-balance {
  display: none;
}

.debit-card-container.small-screen {
  display: none;
}

@media (max-width: 768px) {
  .wrapper-debit {
    max-width: 414px;
  }

  .left-side-bar {
    display: none;
  }

  .main-content {
    background-color: #0c365a;
    padding: 32px 0 0 0;
  }

  .col-6 {
    max-width: 100%;
  }

  .info-container {
    max-width: 414px;
    padding-top: 152px;
  }

  .main-content .card-container {
    margin-top: 92px;
    height: auto;
    max-width: 414px;
  }

  .card.d-flex {
    flex-direction: column;
  }

  .card-container {
    background-color: #fff;
  }

  .main-content h2 {
    font-size: 24px;
    color: #fff;
  }

  .banner {
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
    height: 56px;
  }

  .banner-header-name {
    align-self: flex-end;
  }

  .banner-header-img {
    height: 25px;
    width: 25px;
    display: block;
  }

  .col-card {
    display: none;
  }

  .banner-balance {
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 24px 25px 0 24px;
  }

  .banner-balance .money-container {
    margin-top: 10px;
  }

  .banner-balance .top-up {
    align-self: flex-end;
  }

  .banner-balance .top-up p {
    font-size: 13px;
    color: #23cefd;
    letter-spacing: 1.5px;
    font-weight: bold;
    margin-left: 14px;
  }

  .banner-balance h4 {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .money-icon {
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: var(--primary);
    color: #fff;
    padding: 3px 12px;
    margin-right: 10px;
  }

  .money-container div {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.5px;
  }

  .icon-top-up {
    align-self: flex-end;
  }

  .debit-card-container.small-screen {
    position: absolute;
    display: block;
    margin-top: 0;
    top: -20%;
    left: 5px;
  }
}

.svg-item {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  animation: donutfade 1s;
  padding: 0 12px;
  fill: #01d16726;
}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .svg-item {
    width: 80%;
  }
}

.donut-ring {
  stroke: #01d16726;
}

.donut-segment {
  transform-origin: center;
  stroke: var(--primary);
}

.donut-percent {
  animation: donutfadelong 1s;
}

@keyframes donutfadelong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.donut-text {
  fill: #111;
}

.donut-percent {
  font-size: 10px;
  font-weight: bold;
}

.donut-percent-days {
  font-weight: 300;
  font-size: 6px;
}

.svg-item {
  max-width: 30%;
  display: inline-block;
}
